[run]
branch = True
source =
    ocrd_utils
    ocrd_models
    ocrd_validators
    ocrd_modelfactory
    ocrd


[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    ocrd_models/ocrd_models/ocrd_page_generateds.py
    ocrd_models/ocrd_page_user_methods.py
    */setup.py
    # ocrd/ocrd/decorators.py
    ocrd/ocrd/task_sequence.py
    tests/*
