[MASTER]
extension-pkg-whitelist=lxml
ignored-modules=cv2,tesserocr,ocrd_models.model.ocrd_page_generateds

[MESSAGES CONTROL]
ignore-patterns='.*generateds.*'
disable =
    fixme,
    inconsistent-return-statements,
    invalid-name,
    line-too-long,
    missing-docstring,
    no-self-use,
    superfluous-parens,
    too-few-public-methods,
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
    ungrouped-imports,
    useless-object-inheritance

[FORMAT]
no-space-check=empty-line
