[MASTER]
extension-pkg-whitelist=lxml
ignored-modules=cv2,tesserocr,ocrd.model

[MESSAGES CONTROL]
ignore-patterns='.*generateds.*'
disable =
    fixme,
    trailing-whitespace,
    logging-not-lazy,
    inconsistent-return-statements,
    invalid-name,
    line-too-long,
    missing-docstring,
    no-self-use,
    wrong-import-order,
    too-many-nested-blocks,
    superfluous-parens,
    too-few-public-methods,
    wrong-import-order,
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
    ungrouped-imports,
    useless-object-inheritance,
    useless-import-alias,
    bad-continuation,
    no-else-return,
    logging-not-lazy

[FORMAT]
no-space-check=empty-line

[DESIGN]
# Maximum number of arguments for function / method
max-args=12
# Maximum number of locals for function / method body
max-locals=30
# Maximum number of return / yield for function / method body
max-returns=12
# Maximum number of branch for function / method body
max-branchs=30
# Maximum number of statements in function / method body
max-statements=60
# Maximum number of parents for a class (see R0901).
max-parents=7
# Maximum number of attributes for a class (see R0902).
max-attributes=20
# Minimum number of public methods for a class (see R0903).
min-public-methods=0
# Maximum number of public methods for a class (see R0904).
max-public-methods=20

# vim: ft=jproperties
