version: 2

jobs:

  test-python36:
    docker:
      - image: python:3.6.12
    working_directory: ~/ocrd-core
    steps:
      - checkout
      - run: make deps-test install
      - run: make test

  test-python37:
    docker:
      - image: python:3.7.9
    working_directory: ~/ocrd-core
    steps:
      - checkout
      - run: make deps-test install
      - run: make test

  test-python38:
    docker:
      - image: python:3.8.5
    working_directory: ~/ocrd-core
    steps:
      - checkout
      - run: make deps-test install
      - run: make test

  test-python39:
    docker:
      - image: python:3.9
    working_directory: ~/ocrd-core
    steps:
      - checkout
      - run: make deps-test install
      - run: make test

  deploy:
    docker:
      - image: circleci/buildpack-deps:stretch
    steps:
      - checkout
      - setup_remote_docker # https://circleci.com/docs/2.0/building-docker-images/
      - run: make docker
      - run: make docker-cuda
      - run:
          name: Login to Docker Hub
          command: echo "$DOCKERHUB_PASS" | docker login --username "$DOCKERHUB_USERNAME"
            --password-stdin
      - run: docker push ocrd/core
      - run: docker push ocrd/core-cuda
    # The resource_class feature allows configuring CPU and RAM resources for each job. Different resource classes are available for different executors. https://circleci.com/docs/2.0/configuration-reference/#resourceclass
    resource_class: large

workflows:
  version: 2
  build-master:
    jobs:
      - deploy:
          filters:
            branches:
              only: master
  test-pull-request:
    jobs:
      - test-python36
      - test-python37
      - test-python38
      - test-python39
