version: 2

jobs:

  build-python35:
    docker:
      - image: python:3.5.3
    working_directory: ~/ocrd-core
    steps:
      - checkout
      - run: make deps-test install
      - run: make test

  build-python36:
    docker:
      - image: python:3.6.12
    working_directory: ~/ocrd-core
    steps:
      - checkout
      - run: make deps-test install
      - run: make test

  build-python37:
    docker:
      - image: python:3.7.9
    working_directory: ~/ocrd-core
    steps:
      - checkout
      - run: make deps-test install
      - run: make test

  build-python38:
    docker:
      - image: python:3.8.5
    working_directory: ~/ocrd-core
    steps:
      - checkout
      - run: make deps-test install
      - run: make test


workflows:
  version: 2
  build:
    jobs:
      - build-python35
      - build-python36
      - build-python37
      - build-python38
