bagit >= 1.7.0
bagit_profile >= 1.3.0
click >=7
requests < 2.30
lxml
opencv-python-headless
Flask
jsonschema
pyyaml
Deprecated == 1.2.0
memory-profiler >= 0.58.0
sparklines >= 0.4.2
python-magic
uvicorn
fastapi
python-multipart
requests_unixsocket
gdown
ocrd_utils
ocrd_models
ocrd_modelfactory
ocrd_validators
ocrd_network
