bagit >= 1.7.0
bagit_profile >= 1.3.0
click >=7
requests
lxml
opencv-python-headless
Flask
jsonschema
pyyaml
Deprecated == 1.2.0
importlib_metadata;python_version<'3.8'
importlib_resources;python_version<'3.8'
