bagit >= 1.7.0
bagit_profile >= 1.3.0
click >=7
requests
lxml
opencv-python-headless
Flask
jsonschema
pyyaml
Deprecated == 1.2.0
memory-profiler >= 0.58.0
sparklines >= 0.4.2
python-magic
uvicorn>=0.17.6
fastapi>=0.78.0
docker
paramiko
frozendict~=2.3.4
pika>=1.2.0
beanie~=1.7
tensorflow
